.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  border: solid 20px;
  border-color: #009765;
  background-color: #707070;
  border-radius: 10px;
  padding: 1rem;
  width: fit-content;
  margin: 30px auto;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

/* Animation */
.animate {
  animation: slideout 1s;
}
@keyframes slideout{
  0%{transform: rotate(-360deg) scale(0);opacity: 0;}
  100%{transform:rotate() scale(1); opacity: 1;}
}
